@import "tailwindcss";



/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f13d; 
  padding: 0 10px ;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
   padding: 0 10px ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}