/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
  padding: 5px;
  height: 2px;
  width: 1px;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a83d;
  border-radius: 10px;
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@import "tailwindcss";

@config "../tailwind.config.js";
