@import "tailwindcss";
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border: 2px solid black !important;
  margin: 5px;
  padding:5px 10px;
  border-radius: 20px;
}
